[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.7"
Pillow = "==8.1.1"
boto3 = "==1.17.20"
django-storages = "==1.11.1"
django-ckeditor = "==6.0.0"
django-environ = "==0.4.5"
gunicorn = "==20.0.4"
django-heroku = "==0.3.1"
redis = "==3.5.3"
celery = "==5.0.5"
amqp = "==5.0.5"
appdirs = "==1.4.3"
asgiref = "==3.3.1"
billiard = "==3.6.3.0"
botocore = "==1.20.20"
certifi = "==2019.11.28"
chardet = "==3.0.4"
click = "==7.1.2"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.1.6"
colorama = "==0.4.3"
contextlib2 = "==0.6.0"
distlib = "==0.3.0"
distro = "==1.4.0"
dj-database-url = "==0.5.0"
django-js-asset = "==1.2.2"
html5lib = "==1.0.1"
idna = "==2.8"
ipaddr = "==2.2.0"
jmespath = "==0.10.0"
jsmin = "==2.2.2"
kombu = "==5.0.2"
lockfile = "==0.12.2"
msgpack = "==0.6.2"
pep517 = "==0.8.2"
progress = "==1.5"
prompt-toolkit = "==3.0.16"
psycopg2 = "==2.8.6"
pyparsing = "==2.4.6"
python-dateutil = "==2.8.1"
pytoml = "==0.1.21"
pytz = "==2021.1"
retrying = "==1.3.3"
s3transfer = "==0.3.4"
six = "==1.15.0"
sqlparse = "==0.4.1"
urllib3 = "==1.26.3"
vine = "==5.0.0"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
whitenoise = "==5.2.0"
CacheControl = "==0.12.6"

[dev-packages]

[requires]
python_version = "3.8"
