[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
boto3 = "*"
django-storages = "*"
django-ckeditor = "*"
django-environ = "*"
gunicorn = "*"
django-heroku = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
